:root, .theme-light {
	--primary-lightest: #F097FF;
	--primary-lighter: #E85CFF;
	--primary: #E021FF;
	--primary-darker: #C500E5;
	--primary-darkest: #9300AA;

	--background: #F0F0F5;
	--background-stop1: transparent;
	--background-stop2: transparent;

	--background-surface: #F4F5FB;
	--border-surface: #DDDEE5;
	--text-surface: #50525A;

	--background-navbar: var(--background-surface);
	--border-navbar: var(--border-surface);
	--text-navbar: var(--text-surface);

	--text: #30323A;
	--subtext: #60626A;

	--action: #08081F;
	--action-hovered: #040410;
	--action-text: #ffffff;

	--success: #4FB587;
	--success-hovered: #3DAA76;
	--success-text: #ffffff;

	--danger: #FE455E;
	--danger-hovered: #E03448;
	--danger-text: #ffffff;
}

.theme-dark {
	--background: #20223A;

	--background-surface: #30324A;
	--border-surface: #40425A;
	--text-surface: #E2E2EA;

	--text: #FFFFFF;
	--subtext: #D0D2DA;

	--action: var(--primary);
	--action-hovered: var(--primary-darker);

}

.theme-verydark {
	--background: #00020A;

	--background-surface: #10121A;
	--border-surface: #20222A;
	--text-surface: #E2E2EA;

	--text: #FFFFFF;
	--subtext: #D0D2DA;

	--action: var(--primary);
	--action-hovered: var(--primary-darker);
}

.alter-color {
	--danger: #FF9F0F;
	--danger-hovered: #E0860C;

	--success: #14bcff;
	--success-hovered: #0e8abf;
}

.alter-contrast {
	--background: #FFFFFF;
	--text: #000000;

	--background-surface: #FFFFFF;
	--border-surface: #000000;
	--text-surface: #000000;
}

.alter-contrast.theme-dark {
	--background: #000000;
	--text: #FFFFFF;

	--background-surface: #000000;
	--border-surface: #FFFFFF;
	--text-surface: #FFFFFF;
}

/****** CUSTOM THEMES ******/
.theme-gold {
	--primary-lightest: #F5D699;
	--primary-lighter: #F0C064;
	--primary: #EBAA2E;
	--primary-darker: #CB8C13;
	--primary-darkest: #95670E;

	--background: transparent;
	--background-stop1: #95670e;
	--background-stop2: #a77310;
	--background-stop3: #b38014;

	--background-surface: #00000020;
	--on-surface: #ffffff;
	--surface-border: transparent;

	--muted-surface: #00000020;
	--on-muted-surface: #ffffff50;
	--muted-surface-border: transparent;

	--widget: #00000020;
	--on-widget: #e2e4ec;
	--widget-border: transparent;
}

.theme-fonda {
	--background: transparent;
	--background-stop1: #ff6b4a;
	--background-stop2: #ff4a75;
	--background-stop3: #ff375f;

	--background-surface: #00000020;
	--on-surface: #ffffff;
	--surface-border: transparent;

	--muted-surface: #00000020;
	--on-muted-surface: #ffffff50;
	--muted-surface-border: transparent;

	--widget: #00000020;
	--on-widget: #e2e4ec;
	--widget-border: transparent;
}

.theme-emerald {
	--primary-lightest: #A3F7D1;
	--primary-lighter: #4DE4AA;
	--primary: #00C884;
	--primary-darker: #009E65;
	--primary-darkest: #006644;

	--background: transparent;
	--background-stop1: #003f2a;
	--background-stop2: #002b1c;
	--background-stop3: #001e13;

	--background-surface: #00000020;
	--on-surface: #ffffff;
	--surface-border: transparent;

	--muted-surface: #00000020;
	--on-muted-surface: #ffffff50;
	--muted-surface-border: transparent;

	--widget: #00000020;
	--on-widget: #e2e4ec;
	--widget-border: transparent;
}

.theme-royal {
	--primary-lightest: #D1B3FF;
	--primary-lighter: #9E66FF;
	--primary: #6B19FF;
	--primary-darker: #4E00CC;
	--primary-darkest: #330099;

	--background: transparent;
	--background-stop1: #1e0054;
	--background-stop2: #170040;
	--background-stop3: #120033;

	--background-surface: #00000020;
	--on-surface: #ffffff;
	--surface-border: transparent;

	--muted-surface: #00000020;
	--on-muted-surface: #ffffff50;
	--muted-surface-border: transparent;

	--widget: #00000020;
	--on-widget: #e2e4ec;
	--widget-border: transparent;
}

.theme-sunset {
	--primary-lightest: #FFB3A3;
	--primary-lighter: #FF6E4D;
	--primary: #FF2900;
	--primary-darker: #CC2000;
	--primary-darkest: hsl(8, 100%, 30%);

	--background: transparent;
	--background-stop1: #991500;
	--background-stop2: #721000;
	--background-stop3: #550b00;

	--background-surface: #00000020;
	--on-surface: #ffffff;
	--surface-border: transparent;

	--muted-surface: #00000020;
	--on-muted-surface: #ffffff50;
	--muted-surface-border: transparent;

	--widget: #00000020;
	--on-widget: #e2e4ec;
	--widget-border: transparent;
}

.theme-amethyst {
	--primary-lightest: #E6A3FF;
	--primary-lighter: #C24DFF;
	--primary: #9E00FF;
	--primary-darker: #7A00CC;
	--primary-darkest: #550099;

	--background: transparent;
	--background-stop1: #3f0072;
	--background-stop2: #31004e;
	--background-stop3: #26003d;

	--background-surface: #00000020;
	--on-surface: #ffffff;
	--surface-border: transparent;

	--muted-surface: #00000020;
	--on-muted-surface: #ffffff50;
	--muted-surface-border: transparent;

	--widget: #00000020;
	--on-widget: #e2e4ec;
	--widget-border: transparent;
}
