@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('colors.css');

@import "tailwindcss";

@theme {
	--breakpoint-xs: 475px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;

	--color-primary-darkest: var(--primary-darkest);
	--color-primary-lighter: var(--primary-lighter);
	--color-primary: var(--primary);
	--color-primary-darker: var(--primary-darker);
	--color-primary-lightest: var(--primary-lightest);

	--color-background: var(--background);
	--color-background-stop1: var(--background-stop1);
	--color-background-stop2: var(--background-stop2);

	--color-background-surface: var(--background-surface);

	--color-navbar-stop1: var(--navbar-stop1);
	--color-navbar-stop2: var(--navbar-stop2);
	--color-navbar-text: var(--navbar-text);

	--color-text: var(--text);
	--color-subtext: var(--subtext);
	--color-text-surface: var(--text-surface);

	--color-border-surface: var(--border-surface);

	--color-action: var(--action);
	--color-action-hovered: var(--action-hovered);

	--color-danger: var(--danger);
	--color-danger-hovered: var(--danger-hovered);

	--color-success: var(--success);
	--color-success-hovered: var(--success-hovered);

	--font-sans: 'Poppins', sans-serif;
	--font-mono: 'Ubuntu Mono', monospace;

	--color-success: var(--success);
	--color-success-hovered: var(--success-hovered);
}

	@keyframes showSidebar {
		from {
			transform: translateX(-512px)
		}

		to {
			transform: translateX(0px)
		}
	}

	@keyframes hideSidebar {
		from {
			transform: translateX(0px)
		}

		to {
			transform: translateX(-512px)
		}
	}


@layer base {
	html {
		scroll-behavior: smooth;
		background-image: linear-gradient(45deg, var(--background-stop1), var(--background-stop2));
		background-color: var(--background);
	}

	* {
		transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	}

	body {
		background-color: var(--background);
		color: var(--text);
		font-family: var(--font-sans);
		height: 100vh;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	@media screen and (min-width: 640px) {
		#__nuxt {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			margin: 0;
			padding: 0;
			overflow-x: hidden;
			overflow-y: scroll;
		}

		.with-sidebar #__nuxt {
			display: grid;
			grid-template-columns: 1fr 2fr;
		}

		.with-sidebar #__nuxt>nav,
		.with-sidebar #__nuxt>aside {
			position: sticky;
			top: 0;
			column-span: 1;
		}
	}

	@media screen and (min-width: 1280px) {
		.with-sidebar #__nuxt {
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
		}
	}
}

@layer components {
	.md-area * {
		line-height: normal;
		white-space: normal;
		overflow-wrap: anywhere;
		word-break: normal;
		max-width: 100%;
	}

	.md-area a {
		color: var(--color-primary);
	}

	.md-area strong {
		font-weight: 550;
	}

	.md-area *+h1,
	.md-area *+.sample-h1 {
		margin-top: 24px;
	}

	.md-area h1,
	.md-area .sample-h1 {
		margin-bottom: 12px;
		font-size: 24px;
		font-weight: 650;
	}

	.md-area *+h2,
	.md-area *+.sample-h2 {
		margin-top: 20px;
	}

	.md-area h2,
	.md-area .sample-h2 {
		margin-bottom: 12px;
		font-size: 22px;
		font-weight: 550;
	}

	.md-area *+h3,
	.md-area *+.sample-h3 {
		margin-top: 16px;
	}

	.md-area h3,
	.md-area .sample-h3 {
		margin-bottom: 8px;
		font-size: 20px;
		font-weight: 550;
	}

	.md-area *+h4,
	.md-area *+.sample-h4 {
		margin-top: 16px;
	}

	.md-area h4,
	.md-area .sample-h4 {
		margin-bottom: 8px;
		font-size: 18px;
		font-weight: 550;
	}

	.md-area hr {
		background-color: var(--color-border);
		border: none;
		border-radius: 1px;
		width: 50%;
		height: 2px;
		margin: 24px auto;
	}

	.md-area *+p:not(:first-child, h1+p, h2+p, h3+p, h4+p, h5+p, h6+p) {
		margin-top: 16px;
	}

	.md-area *+pre {
		margin-top: 16px;
	}

	.md-area pre,
	code:not(.md-area pre code) {
		margin-bottom: 8px;
		background-color: var(--color-slate-200);
		color: var(--color-slate-500);
		font-family: 'Ubuntu Mono', monospace;
		border: 1px solid var(--color-slate-300);
		border-radius: 6px;
		padding: 2px 4px;
		overflow-y: scroll;
		white-space: pre;
	}

	.md-area pre {
		border-radius: 8px;
		padding: 12px 16px;
	}

	.md-area *+.subtext:not(:first-child, h1+.subtext, h2+.subtext, h3+.subtext, h4+.subtext, h5+.subtext, h6+.subtext) {
		margin-top: 8px;
	}

	.md-area .subtext {
		color: var(--color-subtext);
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 8px;
	}


	.md-area *+ul:not(p+ul),
	.md-area *+ol:not(p+ol) {
		margin-top: 16px;
	}

	.md-area ul,
	.md-area ol {
		margin-left: 8px;
	}

	.md-area ul>li {
		list-style-type: disc;
	}

	.md-area li ul>li {
		list-style-type: circle;
	}


	.md-area ul>li,
	.md-area ol>li {
		margin-left: 16px;
	}

	.md-area li ul>li,
	.md-area li ol>li {
		margin-left: 16px;
	}

	.md-area img {
		margin: 16px 0 8px;
		border-radius: 12px;
		max-width: 100%;
	}

	.md-area blockquote {
		background-color: var(--color-slate-100);
		color: var(--color-slate-600);
		font-size: 14px;
		border-left: 4px solid var(--color-slate-300);
		padding: 8px 16px;
		margin: 16px 0 8px;
	}

	.md-area blockquote * {
		line-height: normal;
	}

	.md-area blockquote p {
		margin: 0;
	}
}
